---
Language:        Cpp
BasedOnStyle:    LLVM
Standard:        c++20

ColumnLimit:     110
IndentWidth:     4
TabWidth:        4
UseTab:          Never
ContinuationIndentWidth: 4

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands:   AlignAfterOperator
AlignTrailingComments: true

AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine:             Empty
AllowShortCaseLabelsOnASingleLine:         false
AllowShortFunctionsOnASingleLine:          Inline
AllowShortIfStatementsOnASingleLine:       Never
AllowShortLambdasOnASingleLine:            All
AllowShortLoopsOnASingleLine:              false

BinPackArguments:   false
BinPackParameters:  false
BreakBeforeBraces:  Attach
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: false

DerivePointerAlignment: false
PointerAlignment:       Left

EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments:  true
IncludeBlocks:         Regroup
IncludeCategories:
  - Regex:    '^"[^/]+\.h"'
    Priority: 1
  - Regex:    '^"[^"]+"'
    Priority: 2
  - Regex:    '^<Q[A-Z][^>]*>'
    Priority: 3
  - Regex:    '^<[a-z_]+>'
    Priority: 5
  - Regex:    '.*'
    Priority: 4

IndentCaseLabels:      false
IndentPPDirectives:    None
NamespaceIndentation:  None
ReflowComments:        true
SortIncludes:          true
SortUsingDeclarations: true
SpaceAfterCStyleCast:  false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList:     false
SpaceBeforeRangeBasedForLoopColon: true
SpacesInAngles:                 Never
SpacesInCStyleCastParentheses:  false
SpacesInContainerLiterals:      false
SpacesInParentheses:            false
SpacesInSquareBrackets:         false
